* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #f4f4f4;
}

.container {
    width: 800px;
    background-color: aliceblue;
    border: 1px solid #333;
}

.heading {
    height: 50px;
    background: linear-gradient(to right, blue, rgb(175, 165, 165));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 750px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(150, 129, 129);
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image {
    width: 150px;
    transition: transform 0.3s, filter 0.3s;
}

.image:hover {
    transform: scale(1.1);
    filter: grayscale(50%);
}

.box2 h2 {
    margin-bottom: 10px;
}

.box2 ul {
    margin-left: 25px;
}

.footer {
    height: 40px;
    background: linear-gradient(to left, blue, rgb(175, 165, 165));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
